.o-info-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    padding: 0px 500px;
    font-family: sans-serif;
    text-shadow: 4px 3px 4px rgb(20, 20, 20);
    /* background-color: rgb(146, 146, 146); */
    background-image: url(../PracticaHTML2/Resources/fondo3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 7px solid rgb(126, 126, 126);
}
.o-info-container:before{
    content: "";
    width: 100%;
    min-height: 308px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(white, white);
    opacity: 5%;
}
.o-div-image{
    display: flex;
    justify-content: center;
    margin-top: -45px;
    
}
.o-image{
    /* margin-top: -10px; */
    border: 8px solid black;
    border-radius: 50%;
    height: 160px;
    /* padding-top: 15px;  */
}
.o-portfolio{
       
}
.o-project-d1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 45px 100px;
    /* margin-bottom: 35px; */
    /* margin-right: 700px; */
    border-radius: 15px;
    font-family: sans-serif;
    box-shadow: 5px 4px 5px black;
}

.o-project-d2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 45px 100px;
    /* margin-bottom: 35px; */
    border-radius: 15px;
    font-family: sans-serif;
    box-shadow: 5px 4px 5px black;
}

.o-project-d3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 45px 100px;
    /* margin-left: 650px; */
    border-radius: 15px;
    font-family: sans-serif;
    box-shadow: 5px 4px 5px black;
}


/* .o-project-total {
    display: flex;
    /* justify-content: flex-end;
    align-content: flex-start; */
 

#titleh1{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    margin: 0px 450px;
    font-family: sans-serif;
    
   
}
.o-div-description{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: sans-serif;
}

.o-p1{
    display: flex;
    flex-direction: row-reverse;
}

.o-p2{
    display: flex;
    flex-direction: row-reverse;
}

.o-p3{
    display: flex;
    flex-direction: row-reverse;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .o-project-total{
        flex-direction: column;
    }
}
